# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=1.0.0=pypi_0
aiohttp=3.8.1=pypi_0
aiohttp-cors=0.7.0=pypi_0
aiosignal=1.2.0=pypi_0
ansicon=1.89.0=pypi_0
astunparse=1.6.3=pypi_0
async-timeout=4.0.2=pypi_0
attrs=21.4.0=pypi_0
blas=1.0=mkl
blessed=1.19.1=pypi_0
brotli=1.0.9=ha925a31_2
ca-certificates=2022.3.29=haa95532_1
cachetools=5.0.0=pypi_0
certifi=2021.10.8=py39haa95532_2
charset-normalizer=2.0.12=pypi_0
click=8.1.3=pypi_0
colorama=0.4.4=pypi_0
colorful=0.5.4=pypi_0
cycler=0.11.0=pyhd3eb1b0_0
deprecated=1.2.13=pypi_0
distlib=0.3.4=pypi_0
filelock=3.6.0=pypi_0
flatbuffers=2.0=pypi_0
fonttools=4.25.0=pyhd3eb1b0_0
freetype=2.10.4=hd328e21_0
frozenlist=1.3.0=pypi_0
gast=0.5.3=pypi_0
google-api-core=2.7.2=pypi_0
google-auth=2.6.6=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
googleapis-common-protos=1.56.0=pypi_0
gpustat=1.0.0b1=pypi_0
graphviz=2.38=hfd603c8_2
grpcio=1.43.0=pypi_0
h5py=3.6.0=pypi_0
icu=58.2=ha925a31_3
idna=3.3=pypi_0
importlib-metadata=4.11.3=pypi_0
intel-openmp=2021.4.0=haa95532_3556
jinxed=1.1.0=pypi_0
jpeg=9e=h2bbff1b_0
jsonschema=4.4.0=pypi_0
keras=2.8.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.3.2=py39hd77b12b_0
libclang=14.0.1=pypi_0
libpng=1.6.37=h2a8f88b_0
libtiff=4.2.0=hd0e1b90_0
libwebp=1.2.2=h2bbff1b_0
lz4-c=1.9.3=h2bbff1b_1
markdown=3.3.6=pypi_0
matplotlib=3.5.1=py39haa95532_1
matplotlib-base=3.5.1=py39hd77b12b_1
mkl=2021.4.0=haa95532_640
mkl-service=2.4.0=py39h2bbff1b_0
mkl_fft=1.3.1=py39h277e83a_0
mkl_random=1.2.2=py39hf11a4ad_0
mpi4py=3.1.3=pypi_0
msgpack=1.0.3=pypi_0
multidict=6.0.2=pypi_0
munkres=1.1.4=py_0
numpy=1.22.3=pypi_0
numpy-base=1.21.5=py39hca35cd5_1
nvidia-ml-py3=7.352.0=pypi_0
oauthlib=3.2.0=pypi_0
opencensus=0.9.0=pypi_0
opencensus-context=0.1.2=pypi_0
openssl=1.1.1n=h2bbff1b_0
opt-einsum=3.3.0=pypi_0
packaging=21.3=pyhd3eb1b0_0
pillow=9.1.0=pypi_0
pip=22.0.4=pypi_0
platformdirs=2.5.2=pypi_0
prometheus-client=0.13.1=pypi_0
protobuf=3.20.1=pypi_0
psutil=5.9.0=pypi_0
py-spy=0.3.11=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pydotplus=2.0.2=py_3
pyparsing=3.0.8=pypi_0
pyqt=5.9.2=py39hd77b12b_6
pyrsistent=0.18.1=pypi_0
python=3.9.12=h6244533_0
python-dateutil=2.8.2=pyhd3eb1b0_0
pyyaml=6.0=pypi_0
qt=5.9.7=vc14h73c81de_0
ray=1.12.0=pypi_0
redis=4.2.2=pypi_0
requests=2.27.1=pypi_0
requests-oauthlib=1.3.1=pypi_0
rsa=4.8=pypi_0
setuptools=61.2.0=py39haa95532_0
sip=4.19.13=py39hd77b12b_0
six=1.16.0=pyhd3eb1b0_1
smart-open=6.0.0=pypi_0
sqlite=3.38.2=h2bbff1b_0
tensorboard=2.8.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.8.0=pypi_0
tensorflow-io-gcs-filesystem=0.25.0=pypi_0
termcolor=1.1.0=pypi_0
tf-estimator-nightly=2.8.0.dev2021122109=pypi_0
tk=8.6.11=h2bbff1b_0
tornado=6.1=py39h2bbff1b_0
typing-extensions=4.2.0=pypi_0
tzdata=2022a=hda174b7_0
urllib3=1.26.9=pypi_0
vc=14.2=h21ff451_1
virtualenv=20.14.1=pypi_0
vs2015_runtime=14.27.29016=h5e58377_2
wcwidth=0.2.5=pypi_0
werkzeug=2.1.2=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
wincertstore=0.2=py39haa95532_2
wrapt=1.14.0=pypi_0
xz=5.2.5=h62dcd97_0
yarl=1.7.2=pypi_0
zipp=3.8.0=pypi_0
zlib=1.2.12=h8cc25b3_2
zstd=1.4.9=h19a0ad4_0
